@model IEnumerable<TourOperatorApp.Models.Instructor>
@{
    ViewBag.Title = "Инструкторы";
}

<div class="btn-group">
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle"
                data-bs-toggle="dropdown">
            Вывод:
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item btn btn-outline-dark" asp-action="Instructors">по умолчанию</a>
            <a class="dropdown-item btn btn-outline-dark" asp-action="InstctsSortByCategory">по убыванию категорий</a>
            <a class="dropdown-item btn btn-outline-dark" asp-action="InstctsSortByAlphabet">в алфавитном порядке</a>
        </div>
    </div>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-dark dropdown-toggle"
                data-bs-toggle="dropdown">
            Категория:
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item btn btn-outline-dark" asp-action="InstctsShowByCategory" asp-route-cat="A">A</a>
            <a class="dropdown-item btn btn-outline-dark" asp-action="InstctsShowByCategory" asp-route-cat="B">B</a>
            <a class="dropdown-item btn btn-outline-dark" asp-action="InstctsShowByCategory" asp-route-cat="C">C</a>
        </div>
    </div>
</div>

<div id="table" class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Имя</th>
                <th>Дата рождения</th>
                <th>Категория</th>
                <th>Управление</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.BornDate.ToShortDateString()</td>
                    <td>@item.Category</td>
                    <td>
                        <form method="post" >

                            <a class="btn btn-outline-info" data-id="@item.Id" data-bs-toggle="modal" data-bs-target="#infoModal">
                                <i class="bi bi-info-circle-fill" data-id="@item.Id"></i>
                            </a>
                            <button type="submit" asp-action="EditeInstructor" asp-route-id="@item.Id" class="btn btn-outline-warning">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<!-- Модальное окно -->
<div class="modal fade" id="infoModal" tabindex="-1" aria-labelledby="infoModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Инструктор</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">
                <p>id: <span id="idspan"></span></p>
                <p>Имя: <span id="namespan"></span></p>
                <p>Дата рождения: <span id="datespan"></span></p>
                <p>Категория: <span id="categoryspan"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<script src="~/js/instructorInfo.js"></script>