@model Route
@{
    ViewBag.Title = "Редактор маршрута";
    ViewBag.Points = new SelectList(Utils.pointsList);
    ViewBag.Difficultys = new SelectList(Utils.difficultysList);
    ViewBag.Instructors = new SelectList(Utils.instructorsList,"Id","ToShortInfo");

}
<section class="mx-auto my-4 bg-dark shadow-sm border rounded-3 h-75 p-3 w-50">

    <form method="post" class="mx-4" asp-action="CreateOrUpdateRoute">

        <h4 class="text-center text-light">Введите данные маршрута</h4>

        <hr>

        @* id *@
        <input asp-for="Id" type="hidden" value="@Model.Id">
        <input asp-for="Instructor" type="hidden" value="@Model.Instructor">

        @* начальный пункт *@
        <div class="input-group my-3">
            <label asp-for="StartPoint" class="input-group-text w-16rem">Начальный пункт</label>
            <select asp-for="StartPoint" asp-items="@ViewBag.Points" class="form-select" required></select>
        </div>

        @* промежуточный пункт *@
        <div class="input-group my-3">
            <label asp-for="BrakePoint" class="input-group-text w-16rem">Промежуточный пункт</label>
            <select asp-for="BrakePoint" asp-items="@ViewBag.Points" class="form-select" required></select>
        </div>

        @* конечный пункт *@
        <div class="input-group my-3">
            <label asp-for="EndPoint" class="input-group-text w-16rem">Конечный пункт</label>
            <select asp-for="EndPoint" asp-items="@ViewBag.Points" class="form-select" required></select>
        </div>

        @* протяженность *@
        <div class="input-group my-3">
            <label asp-for="Length" class="input-group-text w-16rem">Протяженность</label>
            <input asp-for="Length" class="form-control" required>
        </div>

        @* сложность маршрута *@
        <div class="input-group my-3">
            <label asp-for="Difficulty" class="input-group-text w-16rem">Сложность</label>
            <select asp-for="Difficulty" asp-items="@ViewBag.Difficultys" class="form-select" required></select>
        </div>

        @* инструктор *@
        <div class="input-group my-3">
            <label asp-for="InstructorId" class="input-group-text w-16rem">Инструктор</label>
            <select asp-for="InstructorId" asp-items="@ViewBag.Instructors" class="form-select" required></select>
        </div>

        <hr>

        @* управление *@
        <div class="d-flex justify-content-end">
            <input class="btn btn-outline-success w-10rem me-3" type="submit" value="Сохранить">
            <a class="btn btn-outline-danger w-10rem" asp-action="Routes">Выйти</a>
        </div>
    </form>

</section>
