@model Route
@{
    ViewBag.Title = "Редактор маршрута";
    ViewBag.Points = new SelectList(Utils.pointsList);
    ViewBag.Difficultys = new SelectList(Utils.difficultysList);
    ViewBag.Instructors = new SelectList(Utils.instructorsList, "Id", "ToShortInfo");

}
<section class="mx-auto my-4 bg-dark shadow-sm border rounded-3 h-75 p-3 w-50">

    <form method="post" class="mx-4" asp-action="CreateOrUpdateRoute">

        <h4 class="text-center text-light">Введите данные маршрута</h4>

        <hr>

        @* id *@
        <input asp-for="Id" type="hidden" value="@Model.Id">
        <input asp-for="Instructor" type="hidden" value="@Model.Instructor">

        @* начальный пункт *@
        <div class="input-group my-3">
            <label asp-for="StartPoint" class="input-group-text w-16rem"></label>
            <select asp-for="StartPoint" asp-items="@ViewBag.Points" class="form-select"></select>
            <span asp-validation-for="StartPoint" class="text-danger"></span>
        </div>

        @* промежуточный пункт *@
        <div class="input-group my-3">
            <label asp-for="BrakePoint" class="input-group-text w-16rem"></label>
            <select asp-for="BrakePoint" asp-items="@ViewBag.Points" class="form-select"></select>
            <span asp-validation-for="BrakePoint" class="text-danger"></span>
        </div>

        @* конечный пункт *@
        <div class="input-group my-3">
            <label asp-for="EndPoint" class="input-group-text w-16rem"></label>
            <select asp-for="EndPoint" asp-items="@ViewBag.Points" class="form-select"></select>
            <span asp-validation-for="EndPoint" class="text-danger"></span>
        </div>

        @* протяженность *@
        <div class="input-group my-3">
            <label asp-for="Length" class="input-group-text w-16rem"></label>
            <input asp-for="Length" class="form-control">
            <span asp-validation-for="Length" class="text-danger"></span>
        </div>

        @* сложность маршрута *@
        <div class="input-group my-3">
            <label asp-for="Difficulty" class="input-group-text w-16rem"></label>
            <select asp-for="Difficulty" asp-items="@ViewBag.Difficultys" class="form-select"></select>
            <span asp-validation-for="Difficulty" class="text-danger"></span>
        </div>

        @* инструктор *@
        <div class="input-group my-3">
            <label asp-for="InstructorId" class="input-group-text w-16rem"></label>
            <select asp-for="InstructorId" asp-items="@ViewBag.Instructors" class="form-select"></select>
            <span asp-validation-for="InstructorId" class="text-danger"></span>
        </div>

        <hr>

        @* управление *@
        <div class="d-flex justify-content-end">
            <input class="btn btn-outline-success w-10rem me-3" type="submit" value="Сохранить">
            <a class="btn btn-outline-danger w-10rem" asp-action="Routes">Выйти</a>
        </div>
    </form>

</section>
